<div class="padding-top-20">
  <%= form_for [@article, @new_comment], remote: true do |f| %>
    <div class="form-group">
      <div class = "row">
        <div class= "col-md-9 col-sm-9 col-xs-12">
          <%= f.text_area :content, rows: 2, placeholder: "Write your comment...", class: 'form-control' %>
        </div>
        <div class= "col-md-3 col-sm-3 col-xs-12">
          <%= f.submit 'Add Comment', class: 'btn btn-md btn-default' %>
        </div>
      </div>
    </div>
  <% end %>
</div>