<div class= "container-fluid form-width">
<% if user_signed_in?  %>
  <%= form_for ([@article, @comment]) do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, rows: 15, class: 'form-control' %>
    </div>

    <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
  <% end %>
<% end %>
</div>


