<h4><%= pluralize(article.impressions_count, 'view') %></h4>

<%= render 'vote', article: article %>  

<h4 class ="click-caption">Click to like!</h4>

<% if current_user.voted_up_on? article %>
  <%= link_to '', downvote_article_path(article.id), remote: true,
                        id: "vote_#{article.id}",
                        class: 'glyphicon glyphicon-heart' %>
<% else %>
  <%= link_to '', upvote_article_path(article.id), remote: true,
                        id: "vote_#{article.id}",
                        class: 'glyphicon glyphicon-heart-empty' %>
<% end %>
