<div class = "container">
  <div class = "row">
    <div class = "col-md-4 col-sm-12 col-xs-12" id="browse-sidebar">
      <%= render 'browse_sidebar', articles: @articles, categories: @categories, q: @q %>
    </div>
    <div class = "col-md-8 col-sm-12 col-xs-12">
      <%= render 'browse_form', q: @q %>
      <%= render @articles %>
      <%= will_paginate @articles %>
    </div>
  </div>
</div>


