<div class ="row">
    <div class ="col-sm-1">
        <%= gravatar_for(conversation.with(current_user), size: 20) %>
    </div>
    <div class ="col-sm-8">
        <%= conversation.with(current_user).name %>
    </div>
    <div class ="col-sm-3">
        <%= conversation.personal_messages.last.created_at %>
    </div>
</div>

<div class ="row">
    <p><%= conversation.personal_messages.last.body %></p>
</div>