<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= render 'notifications/counter', counter: notifications.count %>
</a>

<ul class="dropdown-menu" id="notificationContainer">
      <div id="notificationTitle">Notifications</div>
      <div id="notificationsBody">
        <ul id="notificationList">
          <%= render notifications %>
        </ul>
      </div>
      <div id="notificationFooter">
        <%= link_to notifications_path do %>
          Show More
        <% end %>
      </div>
</ul>
