<div class="row alternate-row">
  <div class = "col-md-1 col-xs-2">
    <%= gravatar_for(pending, size: 45) %>
  </div>
  <div class = "col-md-8 col-xs-3">
    <b><%= link_to pending.name, user_path(pending) %></b>
  </div>
  <div class = "col-md-3 col-xs-7">
  <%= link_to "Accept",  friendship_path(pending.friendships.find_by_friend_id(current_user)), method: "put", class: "btn btn-sm btn-info" %>
  <%= link_to "Decline", friendship_path(pending.friendships.find_by_friend_id(current_user)), method: :delete, class: "btn btn-sm btn-default" %>
  </div>
</div>
