
  <h3 class = "padding-bottom-40">Follow Requests</h3>
  
    <div class="row alternate-row">
      <div class = "col-md-1">
        <%= gravatar_for(request, size: 45) %>
      </div>
      <div class = "col-md-8">
        <p><%= request.name %></p>
      </div>
      <div class = "col-md-3">
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put", class: "btn btn-success" %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>

