<div class="row alternate-row">
  <div class = "col-md-1">
    <%= gravatar_for(pending, size: 45) %>
  </div>
  <div class = "col-md-8">
    <p><%= pending.name %></p>
  </div>
  <div class = "col-md-3">
  <%= link_to "Accept",  friendship_path(pending.friendships.find_by_friend_id(current_user)), method: "put", class: "btn btn-info" %>
  <%= link_to "Decline", friendship_path(pending.friendships.find_by_friend_id(current_user)), method: :delete, class: "btn btn-default" %>
  </div>
</div>
