<% if user == current_user %>
   <div></div>
<% elsif current_user.pending_friends.include?(user) == true %> 
  <button type="button" class="btn btn-pending">Pending</button>
<% elsif current_user.active_friends.include?(user) == true %>
  <%= link_to friendship_path(current_user.friendships.find_by_friend_id(user.id)), :method => :delete,
  data: { confirm: "Are you sure?" }, class:"btn btn-unfollow", remote: true do %>
    <i class="fa fa-minus" aria-hidden="true"></i>
  <% end %>
<% elsif current_user.follows?(user) == false %>
  <%= link_to friendships_path(friend_id: user.id), method: :post, class: "btn btn-follow", remote: true do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <% end %>
<% end %>
