<div class = "container">
  <div class = "row">
    <div class = "col-md-9 padding-top-20">

      <div id="tabs">   
        <ul class="nav nav-tabs">
          <li role="presentation" class="active" data-toggle="tab" ><a href="#tab1">All Users</a></li>
          <li role="presentation" data-toggle="tab"><a href="#tab2">Following</a></li>
          <li role="presentation" data-toggle="tab"><a href="#tab3">Followers</a></li>
          <li role="presentation" data-toggle="tab"><a href="#tab4">Pending</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <%= render 'user' %>
          </div>
          <div class="tab-pane" id="tab2">
            <%= render 'following' %>  
          </div>
          <div class="tab-pane" id="tab3">
            <%= render 'follower' %>  
          </div>
          <div class="tab-pane" id="tab4">
            <%= render 'pending' %>  
          </div>
        </div>
      
    </div> 
    <div class = "col-md-3"></div>
  </div>
</div>

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>