<div class ="container">
    <div class="row">
        <div class = 'jumbotron' %>
          <h4>You are currently not signed in. Sign in now or Sign Up to view more articles!</h4>
        </div
        <div id = "my-feed">
          <%= render articles %>
        </div>
    </div>
</div>
