<div style="background-color:#e0e3e4;">
  <img class='image' src="https://storage.googleapis.com/f1-project/banner.png"> 
</div>

<div class='footer'>
  <h3>
    diana@gmail.com          
    <a href = "https://github.com/dianameow/diana-portal") %>
      <span><i class="fa fa-github" aria-hidden="true"></i></span>
    </a>
    <a href = "https://www.linkedin.com/in/dianaow/l") %>
      <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
    </a>
  </h3>
</div>

<div class='copyright'>
  <h3>
    <span class='a'>&copy; Diana Ow</span>
    <span class='c'>To test this app, you may login using username: Test1, password: asdfasdf</span>
  </h3>
</div>
