<div style="background-color:#e0e3e4;">
  <img class='image' src="https://storage.googleapis.com/f1-project/website_images/aboutme.png"> 
</div>

<div class="container">
  <div class="row about">
    <div class="col-md-6 col-xs-12">
        <img class='image' src="https://storage.googleapis.com/f1-project/website_images/photoofme.png"> 
    </div> 
    <div class="col-md-6 col-xs-12">
      
        <h4 style='font-weight:bold; padding-top:0px; margin-top:0px'>A former business analyst, I am now an aspiring Python Developer who dabbles in data science and machine learning. I take pride in my code craft and love to troubleshoot code!</h4>

        <h4>Skilled in:</h4>
        <p>- Python</p>
        <p>- Classification, Predictive Analytics</p>
        <p>- Data Visualization</p>
        <p>- Ruby, Rails Framework</p>
        <p>- HTML, CSS, Javascript, AJAX</p>

        <h4>What I'm currently exploring:</h4>
        <p>- Computer Vision (Tensorflow, Pycharm)</p>

    </div>
  </div>
</div>