@media (max-width: 1200px) and (min-width: 993px) { 
    #browse-category {
        display: none;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 230px !important; 
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 230px !important;
    }

}

@media (max-width: 992px) and (min-width: 769px) { 
    #browse-category, #recommended-users-container, #featured-article, #frequented-tags {
        display: none;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 280px !important;
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 280px !important;
    }
}

@media (max-width: 768px) and (min-width: 575px) { 
    #browse-category, #vote-viewcount-block, #article-details, 
    #recommended-users-container, #featured-article, #frequented-tags {
        display: none;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 265px !important;
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 265px !important;
    }
    
    .comment-button {
        margin-top: 20px;
    }
    
    .jumbotron > h2 {
        font-size: 1.4em;
    }
   
    .jumbotron > h4 {
        font-size: 1.2em;
    }
    
    a {
        font-size: 1em;
    }
    
    .article-header-text {
        padding: 10px 20px;
        color: #cccccc;
        text-align: center;
        
        h1 {
            color: #1f3951;
            margin: 30px 15px;
            font-weight:bold;
            font-size: 22px;
        }
    }
    
    #article-description{
       font-size: 16px;
       line-height: 1.6em;
    }

    
}


@media (max-width: 576px) { 
    
    #article-sidebar, #browse-category, #vote-viewcount-block, #article-details, 
    #recommended-users-container, #featured-article, #frequented-tags {
        display: none;
    }

    p {
        font-size: 0.9em;
    }
    
    h1 {
        font-size: 1.6em;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 265px !important;
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 265px !important;
    }

    .comment-author-gravatar {
        display: none;
        
    }
    
    .comment-button {
        margin-top: 20px;
    }
    
    .btn-cat-loadmore {
        background: #ffffff;
        border: 2px solid #FF6A5C;
        border-radius: 0;
        letter-spacing: 1px;
        padding: 5px 10px;
        color: #FF6A5C;
        font-size: 0.8em;
    }
    
    .height-style {
        height: 300px;
        overflow: hidden;
    }
    
    .jumbotron > h2 {
        font-size: 1.2em;
    }
   
    .jumbotron > h4 {
        font-size: 1em;
    }
    
    a {
        font-size: 0.9em;
    }
    
        
    .article-header-text {
        padding: 10px 20px;
        color: #cccccc;
        text-align: center;
        
        h1 {
            color: #1f3951;
            margin: 30px 15px;
            font-weight:bold;
            font-size: 22px;
        }
    }
    
        
    .article-header-text {
        padding: 10px 20px;
        color: #cccccc;
        text-align: center;
        
        h1 {
            color: #1f3951;
            margin: 30px 15px;
            font-weight:bold;
            font-size: 22px;
        }
    }
    
    #article-description{
       font-size: 14px;
       line-height: 1.6em;
    }

}