@media (max-width: 1200px) and (min-width: 993px) { 
    #browse-category {
        display: none;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 230px !important; 
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 230px !important;
    }
}

@media (max-width: 992px) and (min-width: 769px) { 
    #browse-category, #recommended-users-container, #featured-article, #frequented-tags {
        display: none;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 280px !important;
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 280px !important;
    }
}

@media (max-width: 768px) and (min-width: 575px) { 
    #browse-category, #vote-viewcount-block, #article-details, 
    #recommended-users-container, #featured-article, #frequented-tags {
        display: none;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 265px !important;
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 265px !important;
    }
    
    #small-article-sidebar {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #article-sidebar {
        display: none;
    }
    
}


@media (max-width: 576px) { 
    
    #browse-category, #vote-viewcount-block, #article-details, 
    #recommended-users-container, #featured-article, #frequented-tags {
        display: none;
    }

    h3 {
        font-size: 1.2em;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    button.multiselect.dropdown-toggle.btn.btn-default {
        width: 265px !important;
    }
    
    ul.multiselect-container.dropdown-menu {
        width: 265px !important;
    }
    
    #small-article-sidebar {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #article-sidebar {
        display: none;
    }
}