.article-description {
    height: 300px;
    overflow: auto;
}

.article-content {
   height: 120px;
   overflow: hidden;
}

@media (max-width: 768px) { 
    .article-content {
        height: 180px;
       overflow: auto;
    }
    #vote-viewcount-block {
       display: none;
    }
    
    h3 {
        font-size: 1.2em;
    }
}


@media (max-width: 576px) { 
    .article-content {
        height: 120px;
       overflow: auto;
    }
    #vote-viewcount-block {
       display: none;
    }
}


.btn-tag-title span, .btn-tag-user span, .btn-tag-cat span {
    display: none;
}

.btn-tag-title, .btn-tag-user, .btn-tag-cat {
    display: flex;
}

.btn-tag-title:hover span, .btn-tag-user:hover span{
    display: block;
}

ul.multiselect-container.dropdown-menu {
    min-width: 300px !important;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}