.article-description {
    height: 300px;
    overflow: auto;
}

.article-content {
   height: 120px;
   overflow: hidden;
}

@media (max-width: 768px) { 
    .article-content {
        height: 180px;
       overflow: auto;
    }
    #vote-viewcount-block {
       display: none;
    }
    
    h3 {
        font-size: 1.2em;
    }
}


@media (max-width: 576px) { 
    .article-content {
        height: 120px;
       overflow: auto;
    }
    #vote-viewcount-block {
       display: none;
    }
}
