.article-content {
   height: 120px;
   overflow: hidden;
}

@media (max-width: 768px) { 
    .article-content {
        height: 180px;
       overflow: auto;
    }
    #vote-viewcount-block {
       display: none;
    }
    
    h3 {
        font-size: 1.2em;
    }
}


@media (max-width: 576px) { 
    .article-content {
        height: 120px;
       overflow: auto;
    }
    #vote-viewcount-block {
       display: none;
    }
}


.btn-tag-title span, .btn-tag-user span, .btn-tag-cat span {
    display: none;
}

.btn-tag-title, .btn-tag-user, .btn-tag-cat {
    display: flex;
}

.btn-tag-title:hover span, .btn-tag-user:hover span{
    display: block;
}

ul.multiselect-container.dropdown-menu {
    min-width: 300px !important;
}

.btn-lg {
    border:4px solid white;
    background-color: #FF3b3F;
    color: white;
}

.btn-lg:hover {
    border:4px solid white;
}

.sort-by {
    text-align: right;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
}

.multiselect-container input[type=radio] {

}

.glyphicon-remove {
    font-size: 16px;
    padding-top:4px;
    padding-left:2px;
}

.btn-article-show {
    border-bottom: 2px white solid;
}


.height-style {
    height: 600px;
    overflow: hidden;
}

#read-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

#article_category_ids {
    width: 100%;
}