h1, h2, h3, h4 , small, a, p{
   font-family: 'Roboto',serif;
   color: #031424;
}

span {
   color:black;
}

p > a {
    color: #ffffff;
}

p > a:hover {
    color: #ffffff;    
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.container{
    padding: 20px;
}

.glyphicon {
    padding: 2px;
    color: #031424;
}

.alternate-row {
    margin: 10px;
}

.alternate-row:nth-child(odd) {
    background: #f9f9f9;
}

.padding-top-20 {
    padding-top: 20px;
}


.alert {
    border-radius: 0px;
    border: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto Slab',serif;
    
     a.close {
        color: #ffffff;
    }
    
    li {
        list-style-type: none;
    }

}

.alert-success, .alert-notice {
    background-color: #1FB58F;
    color: white;
}

.alert-error, .alert-alert {
    background-color: #F24C4E;
    color: white;
}
    

.dropdown-menu {
    width: 300px;
    margin: 0px;
    border: 0px;
}

.hidden{
       display:none;
    }

label.error {
    background-color: #99182c;
    color: white;
    padding: 1px 5px 1px 5px;
    font-size:small;
    margin-top: 10px;
    
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    
  li > a {
      color: #031424;
  }   
  
  li.active {
      background: #031424;
  }
  .previous_page { background:white; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .next_page { background: white; color: #031424}
  .next_page.disabled { background: white; color: #777 }
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


div.footer {
  background-color: #1f3951;
}

div.footer h3 {
    margin: 0;
    padding: 30px 16px 30px 16px;
    color:white;
    font-size: 20px;
    text-align:center;
}

div.footer h3 > a > span > i{
    margin-left:32px;
    color:white;
}

div.footer h4 {
    margin: 0;
    padding: 10px;
    color:white;
    font-size: 14px;
    text-align:center;
}


div.footer h3 {
    margin: 0;
    padding: 30px 16px 20px 16px;
    color:white;
    font-size: 24px;
    text-align:center;
}

div.copyright {
  background-color: white;
}

div.copyright h3 {
    margin: 0px 16px;
    padding: 10px;
    color:black;
    text-align:center;
    font-family: 'Helvetica',serif;
    font-weight:bold;
    letter-spacing: 2px; 
    
    span.a {
        font-size:16px;
        float:left;
    }

    span.c {
        font-size:12px;
        float:right;
    }
}

@media (max-width: 768px) {

    div.footer h3 {
        margin: 0;
        padding: 15px 8px 15px 8px;
        color:white;
        font-size: 12px;
        text-align:center;
    }
    
    div.footer h3 > a > span > i{
        margin-left:16px;
        color:white;
    }
    
    div.footer h4 {
        margin: 0;
        padding: 10px;
        color:white;
        font-size: 7px;
        text-align:center;
    }
    
    div.copyright h3 {
        margin: 0px 16px;
        padding: 10px;
        color:black;
        text-align:center;
        
        span.a {
            display: none;
        }
        
        span.b {
            display: none;
        }
        
        span.c {
            display: none;
        }
        
        .about h4{
            line-height: 20px;
            padding: 0px 10px 0px 0px;
            font-size: 14px;
        }
}


}

.about {
    padding: 40px;
}

.about h4{
    line-height: 30px;
    padding: 12px 0px 0px 0px;
}