#notification-counter {
  background-color: rgb(212, 78, 3);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font-size: 10px;
  position: relative;
  left: -5px;
  top: -15px;
  z-index : 1;
}


#notificationContainer {

  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  background-color: #fff;
  
   .dropdown-menu {
       width: 300px;
       padding: 0px;
       margin: 0px;
   }
   
}


#notificationsBody
{
  padding: 3px 0px 0px 0px !important;
  min-height:300px;
  max-height:300px;
  overflow: auto;
  background-color: #fff;
}

#notificationsBody  ul
{
  padding: 6px;
}

ul #notificationList
{
  li
  {
    list-style-type: none;
    padding: 6px;
  }
  span
  {
    color: #989494;
    font-size: 13px;
  }
  
  span.glyphicon.glyphicon-envelope {
    padding-top: 2px;
    font-size: 16px;
  }

}

#notificationTitle
{
  padding: 6px;
  font-size: 16px;
  background-color: #e9eaed;
  z-index: 1;
  text-align: center;
  font-family: 'Roboto Slab',serif;
}

#notificationFooter
{
  background-color: #e9eaed;
  text-align: center;
  padding: 6px;
  font-size: 13px;
  font-family: 'Roboto Slab',serif;
}