<div class = "container">
  <div class= "load-more-container">
    <button class = "btn btn-lg btn-cat-loadmore" %>
      <%= @category.name %>
    </button>
  </div>
  
  <div class = "container">
    <%= render @articles %>
    <%= will_paginate @articles %>
  </div>
</div>